<div class="header pure-u-1">
    <h1 class="pure-u-1">{{title}}
    <h2 class="pure-u">Kickstarted app</h2>

</div>
    <div class="content">
        <p> Welcome to {{title}}</p>
        <div id="status"> </div>
        <form class="pure-form" id="sign-in-form">
            <fieldset>
                <legend>sign in to chat</legend>

                <input id="login-name" type="text" placeholder="Name"> 

                <label for="remember">
                    <input id="remember" type="checkbox"> Remember me
                </label>

                <button id="sign-in" type="submit" class="pure-button pure-button-primary">Sign in</button>
            </fieldset>
            <fieldset class="hidden">
                <legend>Send a Message</legend>

                <textarea id="message-to-send"></textarea> 

                <button id="send-message" class="pure-button pure-button-primary">Send</button>
            </fieldset>
        </form>
        <button id="connect" class="pure-button"> Connect </button>
        <button id="send" class="pure-button"> Send </button> 
        <button id="broadcast" class="pure-button"> Broadcast </button>
    </div>
    <div id="chat-pane" class="pure-g-r">
        <div class="pure-u-1-4">
            <ul id="rooms">
            </ul>
        </div>
        <div id="chat-window" class="pure-u-3-4">
        </div>
    </div>
<script>
YUI().use('node', 'event', function (Y) {
    var primus;
    var name;
    var named = function () {
        if (Y.UA.chrome > 0) return 'Chrome'; 
        if (Y.UA.gecko > 0) return 'Gecko'; 
        if (Y.UA.ie > 0) return 'IE'; 
    }
    var signIn = function (login) {
        name = login;
        primusInit();
        var frm = Y.one('fieldset:nth-child(1)');
        console.log(frm);
        frm.hide('fadeOut', function() {
            Y.one('fieldset:nth-child(2)').removeClass('hidden');
        });

    }
    var joinRoom = function (room) { 
        primus.write({room: room, action: 'join', user:name });
        Y.one('#rooms').appendChild('<li id="room-link-' + room +'"><a href="#">' + room + '</a></li>');
        Y.one('#chat-window').appendChild('<div id="room-' + room +'"></div>');

    };
    var leaveRoom = function (room) {
        primus.write({room: room, action: 'leave' });
        Y.one('#room-link-' + room).destroy();
    };
    var showMessage = function (data) {
        Y.log(data);
        var chat = Y.one('#room-' + data.room);
        if (chat) {
            chat.appendChild('<div class="message">' +
                '<span class="from">' +data.user + '</span>' + 
                '<span class="message-body">' + data.message +'</span></div>');
        }
    };
    var primusInit = function init () {
        if (primus) primus.end();

        primus = new Primus();

        primus.on('reconnect', function reconnect(opts) {
        Y.log('reconnect', 'Reconnecting', 'We are <strong>scheduling</strong> a new reconnect attempt. This is attempt <strong>'+ opts.attempt +'</strong> and will trigger a reconnect operation in <strong>'+ opts.timeout +'</strong> ms.');
            document.getElementById('connect').innerHTML = 'reconnecting';
        });

        primus.on('reconnect', function reconnect() {
            Y.log('reconnect', 'Reconnect', 'Starting the reconnect attempt, hopefully we get a connection!');
        });

        primus.on('online', function online() {
            Y.log('network', 'Online', 'We have regained control over our internet connection.');
        });

        primus.on('offline', function online() {
            Y.log('network', 'Offline', 'We lost our internet connection.');
        });

        primus.on('open', function open() {
            Y.log('open', 'Open', 'The connection has been established.');
            document.getElementById('connect').innerHTML = 'connected';
        });

        primus.on('error', function error(err) {
            Y.log('error', 'Erorr', 'An unknown error has occured <code>'+ err.message +'</code>');
        });

 

        primus.on('end', function end() {
            Y.log('end', 'End', 'The connection has ended.');
            document.getElementById('connect').innerHTML = 'connect';
        });

        primus.on('close', function end() {
            Y.log('close', 'close', 'We\'ve lost the connection to the server.');
        });
        primus.on('data', function (data) {
            console.log('data', 'Received data', 'string' === typeof data ? data : '<pre><code>'+ JSON.stringify(data, null, 2) +'</code></pre>');
            console.log('The data from the room:', data);
            console.log('The message from the room:', data.message);
            showMessage(data);
        });
        joinRoom('lounge');
    }
    Y.one('#connect').on('click', primusInit)


    Y.one('#broadcast').on('click', function (e) {
        e.preventDefault();
        Y.log('broadcast clicked');
        console.log(primus);
        primus.write({ room: 'testroom', message: 'Hello some one, I am '+ named() });
    });
    Y.one('#sign-in').on('click', function (e) {
        e.preventDefault();
        Y.log('broadcast clicked');
        var name = Y.one('#login-name').get('value');
        signIn(name);
    });
    Y.one('#send-message').on('click', function (e) {
        e.preventDefault(); 
        var message = { room: 'lounge', user:name, 
            message: Y.one('#message-to-send').get('value') };
        Y.one('#message-to-send').set('value','');
        primus.write(message);
        showMessage(message);

    })
    Y.one('#send').on('click', function (e) {
        Y.log('send clicked');
        e.preventDefault();
        console.log(primus);
        primus.write('message from a click from ' + named() );;

    }); 
}); 
</script>